<% const event=data.events.find(c=>c.id===id) %>
<% const category=data.categories.find(c=>c.id===event.categoryId) %>
<!DOCTYPE html>
<html data-bs-theme="dark">
<%- include('../head.ejs') %>

<body>
  <%- include('../header.ejs') %>
  <% if (event.image) { %>
  <div style="background-image: linear-gradient(to bottom, #212529AA, #212529), url(<%=event.image%>); background-position:center; background-size:cover; height: 720px; width:100%; position: absolute; z-index: -1" />
  <% } %>
  <div class="container py-3">
    <div class="row py-5">
      <div class="pb-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">
              <a href="/<%= authors.a.name %>/events">Events</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <%= id %>
            </li>
          </ol>
        </nav>
      </div>
      <h1 class="">
        <%= id %> Details
      </h1>
    </div>
    <div class="row">
      <div class="col">
        <dl class="row">
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9">
            <%= event.name || "None" %>
          </dd>

          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">
            <%= event.description || "None" %>
          </dd>
          <dt class="col-sm-3">Image</dt>
          <dd class="col-sm-9">
            <% if (event.image) { %>
            <img src="<%=event.image%>" style="width:100%; max-width:320px" />
            <% } else { %>
            None
            <% } %>
          </dd>
          <dt class="col-sm-3">Category</dt>
          <dd class="col-sm-9">
            <%= event.categoryId ? `${event.categoryId}, ${ category ? category.name || "Untitled" : "Deleted"
                      }` : "-" %>
          </dd>
          <dt class="col-sm-3">Start Date Time</dt>
          <dd class="col-sm-9">
            <%= datefns.format(event.startDateTime,"h:mm a, d MMMM yyyy") || "None" %>
          </dd>
          <dt class="col-sm-3">Duration</dt>
          <dd class="col-sm-9">
            <%= event.duration ? datefns.formatDistanceStrict(0, event.duration*1000*60) : "None" %>
          </dd>
          <dt class="col-sm-3">Active</dt>
          <dd class="col-sm-9">
            <%= event.isActive ? "Yes" :"No" %>
          </dd>
          <dt class="col-sm-3">Capacity</dt>
          <dd class="col-sm-9">
            <%= event.capacity || "None" %>
          </dd>
          <dt class="col-sm-3">Tickets</dt>
          <dd class="col-sm-9">
            <%= event.tickets || "None" %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</body>

</html>